fieldset {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input, select {
  padding: 5px;
}

.observer {
  display: flex;
}

.entry {
  border: 1px solid black;
  width: 80px;
  margin: 10px;
  text-align: center;
}

.name, .value {
  word-wrap: break-word;
  padding: 4px;
}

.name {
  border-bottom: 1px solid gray;
  font-weight: bold;
}
